{% extends 'layout.twig' %}

{% block body %}
    <h1>Select Your Training</h1>
    <p>
        <a class="btn btn-primary" href="/js">JavaScript And UI</a>
        <a class="btn btn-primary" href="/php">PHP</a>
    </p>
{% endblock %}
