{% extends 'layout.twig' %}

{% block body %}
    <h1>Hello {{ request.user.name }}</h1>
    <a class="btn btn-primary" href="/course">Select your course</a>
    {#<h2>Select Your Training</h2>#}
    {#<p>#}
        {#<a class="btn btn-primary" href="/training/js">JavaScript And UI</a>#}
        {#<a class="btn btn-primary" href="/training/php">PHP</a>#}
    {#</p>#}
{% endblock %}
