<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(function (reg) {
                    // registration worked
                    console.log('Registration succeeded. Scope is ' + reg.scope);
                }).catch(function (error) {
                // registration failed
                console.log('Registration failed with ' + error);
            });
        }
    </script>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <div class="ms-logo ms-logo-white ms-logo-sm">TB</div><strong>PWA - Tech Bhubaneswar 2018</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://lecturenotes.in">Visit LectureNotes</a>
                </li>
                {% if request.user %}
                    <li>
                        <a href="/course">Courses</a>
                    </li>
                    <li>
                        <a href="/cart">Cart</a>
                    </li>
                    <li>
                        <a href="/auth/logout">Logout</a>
                    </li>
                {% endif %}
                {#<li>#}
                    {#<a href="changelog.txt">Changelog</a>#}
                {#</li>#}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="offline-alert-container">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Oh! no</strong> You are not connected to Internet.
        </div>
    </div>
    {% block body %}{% endblock %}
    <div class="sponsored-by">Developed by <strong>LectureNotes Team</strong></div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/notify.min.js"></script>
<script src="/javascripts/localStorageCache.js"></script>

<script>

    /**
     * local storage cache manager
     * @type {LocalStorageCache}
     */
    window.localStorageCache = new LocalStorageCache();

    {% if request.user %}
        const name = "{{ request.user.name }}";
        const currentUserCache = localStorageCache.open("currentUser");
        currentUserCache.put("details", { name });
    {% endif %}

    /**
     * select body
     * @type {jQuery|HTMLElement}
     */
    const $body = $("body");

    // on load event listener
    window.addEventListener("load", () => {

        //if navigator offline show offline alert
        if (navigator.onLine) {
            $body.removeClass("offline")
        } else {
            $body.addClass("offline")
        }
    }, true);

    // on navigator online event listener
    window.addEventListener("online", () => {
        $body.removeClass("offline")
    }, true);

    // on navigator offline event listener
    window.addEventListener("offline", () => {
        $body.addClass("offline")
    }, true);

</script>

{% block javascripts %}
{% endblock %}
</body>
</html>
