{% extends 'layout.twig' %}

{% block body %}
    <div class="sidebar">
        <h4>Table of Contents</h4>
        {#<ol class="nav nav-pills nav-stacked">#}
            {#<li><a href="#intro">Introduction</a></li>#}
            {#<li><a href="#support">Support and Suggestions</a></li>#}
            {#<li><a href="#package">Package Content</a></li>#}
            {#<li><a href="#html">HTML version</a></li>#}
            {#<li><a href="#gulp">Gulp version</a></li>#}
            {#<li><a href="#faq">FAQ</a></li>#}
            {#<li><a href="#plugins">Plugins</a></li>#}
            {#<li><a href="#extra">Extra content</a></li>#}
        {#</ol>#}
    </div>
    <div class="content">

    </div>
{% endblock %}
