{% extends 'layout.twig' %}

{% block body %}
    <h1>Snake Score {% if games is not empty %}Highest Score - {{ games[0].score }}{% endif %}</h1>
    <div class="alert-container"></div>
    <table class="table table-bordered cart-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Finished</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.createdBy.name }}</td>
                <td>{{ game.score }}</td>
                <td>{% if game.finished %}True{% else %}False{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        setTimeout( () => location.reload(), 5000 );

        window.localStorageCache = new LocalStorageCache();

        const cache = localStorageCache.open("snake");

        const {result = {data: null}} = cache.result;

        const {data} = result;

        if (!data || !data.score || !data.gameId) {

        } else {

            const syncScore = (score, gameId) => {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: `/game/snake/update`,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify({score, gameId}),
                        success: resolve,
                        error: reject
                    })
                });
            };

            const finishGame = (score, gameId) => {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: `/game/snake/finish`,
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify({score, gameId}),
                        success: resolve,
                        error: reject
                    })
                });
            };

            const updateLocalStorageResult = (score, finished = false) => {

                if (navigator.onLine) {

                    if (finished) return finishGame(score)
                        .then(() => {
                            cache.put('result', null);
                            // location.reload();
                        });
                    syncScore(score)
                        .then( () => {
                            // location.reload();
                        });
                }
            };

            updateLocalStorageResult(data.score, data.finished, data.gameId);

            window.addEventListener("online", () => {
                updateLocalStorageResult(data.score, data.finished, data.gameId);
            }, true);

            window.addEventListener("offline", () => {
                updateLocalStorageResult(data.score, data.finished, data.gameId);
            }, true);
        }
    </script>
{% endblock %}
